@import 'fonts.css';

*{
    padding: 0;
    margin:0;
    max-height: fit-content;
}

section{
    width: 100%;
    min-height: 100vh;
    background: url('../Images/finalo.png');
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 400px;
}



header{
    width: 100%;
    height: 3.5em;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background: none;
}

header nav{
    color: black;
    height: 3.5 em;
    margin-right: 2 em;
    display: flex;
    justify-content: space-between;
}




.backbtn, .backbtn:hover{
    padding: 0em, 1em;
    color:darkblue;
    font-size: larger;
    text-decoration: none;
    border: 5px solid;
    border-radius: 0.2em;
    justify-content: center;
}



header nav ul{
    list-style: none;
    display: flex;
}

header nav ul li a{
    display: block;
    padding: 0.6em 1em;
    text-decoration: none !important;
    font-family: Poppins;
    font-size: larger;
    color: black;
    
}

header nav ul li a:hover{
    color:darkblue;
}

.active{
    color: black !important;
}

.content{
    
    padding-top: 3.5 em;
    min-height: 100vh;
    display:inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    
}



.algo-choice{
    background-color: beige;
    padding: 10px;
    opacity: 0.8;
}

.algos{
    border-radius: 25%;
    padding-bottom:2px;
}

.top-of-all{
    font-family: SFPRODISPLAY;
}

textarea {  
    min-width: 700px;
    min-height: 500px;
    background: white;
    outline: none;
    border: 2px blueviolet solid;
    resize: both;
    border-radius: 5%;
    opacity: 0.8;
}
textarea:invalid {
    background-image: url(https://placehold.co/800?text=Your+E-mail+to+be+checked+goes+in+here&font=raleway);
    background-position: center;
    background-repeat: no-repeat;
}

button{
    /* Base styles */
    background-color: #007bff;
    color: white;
    border: 2px blue;

    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor:   
   pointer;
    transition: background-color   
   0.3s ease-in-out, transform 0.2s ease-in-out;
  
    /* Hover effect */
    &:hover {      
      background-color: white;
      border-color: blue;
      color: blue;
    }
  }

